<div class="h-24 md:h-30 relative overflow-hidden">
  <div class="absolute inset-0" style="background: repeating-linear-gradient(180deg, #2E5C9A 0px, #2E5C9A 15px, #fff 15px, #fff 30px);"></div>
  <div class="absolute left-4 md:left-8 top-1/2 -translate-y-1/2 text-4xl md:text-5xl">⚓</div>
  <div class="absolute right-4 md:right-8 top-1/2 -translate-y-1/2 text-4xl md:text-5xl">⚓</div>
</div>